.contact {
  width: 100%;
  height: 828px;
  position: relative;
  background-image: url('../assets/contact.jpeg');
  background-size: cover;
  margin: 0 auto;
  padding: 28px 29px;
  box-sizing: border-box;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.email {
  display: flex;
  align-items: center;
}

.email p {
  color: #F9BA7F;
  margin-left: 22px;
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.02em;
}
.space-icon {
  display: flex;
  align-items: center;
  gap: 65px;
  margin-top: 12px;
}

form {
  position: absolute;
  width: 340px;
  height: 48px;
  left: 720px;
  top: 190px;

}

form p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 48px;
  color: #F3F3F3;
  letter-spacing: -0.02em;

}

form div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 34px;
}



.input-container {
  position: relative;
  margin-top: 19px;
}

.input-container::after {
  content: '';
  display: block;
  width: 400px;
  height: 3px;
  background-color: #000000;
  margin-top: -10px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  background: transparent;
  font-family: 'Poppins', sans-serif;
  margin-left: -10px;
  color: #F3F3F3;
}

input.ipt::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #F3F3F3;
  letter-spacing: -0.02em;
  margin-top: 21px;
}


input:focus {
  outline: none;
}

.contact-btn {
  padding: 23px 108px;
  margin-top: 65px;
  margin-left: 13px;
  border: none;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  background: #F3F3F3;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.02em;
  color: #23272A;
  font-family: 'Segoe UI', 'Open Sans';
  cursor: pointer;
}

 @media screen and (max-width:1119px) {
  form{
    width: 340px;
  }
  .input-container::after{
    width: 100%;
  }
}
@media screen and (max-width:1059px) {
  form{
    width: 320px;
    left: 665px;
  }
  .input-container::after{
    width: 90%;
  }
  form div{
    margin-right: 15px;
  }
  form p{
    font-size: 58px;
  }
  .contact-btn{
    margin-left: 0;
    padding: 20px 78px;
  }
} 
  @media screen and (max-width:984px) {
    form{
      width: 320px;
      left: 545px;
    }
    .contact-btn{
      margin-left: 0;
      padding: 20px 65px;
    }

 
} 

@media screen and (max-width:864px) {
  form{
    width: 300px;
    left: 490px;
  }
  form p{
    font-size: 44px;
  }
  form div {
    gap: 16px;
    margin-top: 20px;
  }
  .input-container {
    position: relative;
    margin-top: 19px;
  }
  input {
    width: 100%;
    padding: 8px;
    font-size: 18px;
  }
  input.ipt::placeholder {
    font-size: 18px;
  }
  .contact-btn{
    margin-left: 0;
    padding: 16px 53px;
    margin-top: 50px;
  }
  .space-icon{
    display: none;
  }

}

@media screen and (max-width:789px) {
  form{
    width: 290px;
    left: 437px;
  }
}

@media screen and (max-width:726px) {
  .contact {
    display: none;
  }
} 