.footer {
  width: 100%;
  height: 674px;
  background: #564335;
  display: flex;
  gap: 60px;
  padding: 90px 57px;
  box-sizing: border-box;
}

.privacy .logo {
  display: flex;
  align-items: center;
}

.logo p {
  margin-left: 30px;
  font-size: 52px;
  font-weight: 400;
  font-family: 'Yatra One';
  line-height: 60px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.logo span {
  color: #F9BA7F;
}

.privacy .para1 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #FFFFFF;
  letter-spacing: -0.02em;
  margin-top: 65px;
}

.privacy .sub {
  display: flex;
  align-items: center;
  margin-top: 45px;
}

.sub input {
  width: 520px;
  padding: 10px;
  font-size: 20px;
  border: none;
  background: transparent;
  font-family: 'Poppins', sans-serif;
  color: #D0D9DB;
}

input::placeholder {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #D0D9DB;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.02em;
  margin-left: 10px;
}

.sub button {
  padding: 14px 20px;
  filter: drop-shadow(0px 2px 16px rgba(0, 0, 0, 0.1));
  border-radius: 20px;
  background: transparent;
  border: none;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #F9BA7F;
  cursor: pointer;
  margin-top: -9px;
  margin-left: -4px;
}

hr {
  width: 610px;
  margin: 7px 0;
  color: #f3f3f3;
}

.privacy .para2 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 16px;
  margin-left: 3px;
}

.para2 a {
  color: #69a1e1;
}

.privacy .terms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 80px;
  margin: 0 auto;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 250px;
  gap: 20px;
}


.terms p {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

.company,
.product {
  margin-top: 150px;
  margin-right: 55px;
}

.company .com,
.product .pro {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #F9BA7F;
}

.company p,
.product p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 30px;
}

.company {
  margin-right: 0px;
}
.error-input {
  color: red;
  border: 1px solid red;
}
@media screen and (max-width:1024px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 23px 30px;
  }

  .privacy {
    width: 100%;
    padding: 15px 25px;
    position: relative;
  }

  .logo img {
    width: 75px;
    height: 75px;
  }

  .logo p {
    margin-left: 10px;
    font-size: 48px;
  }


  .privacy .para1 {
    font-size: 21px;
    line-height: 24px;
    height: 31px;
    margin-top: 44px;

  }

  .privacy .sub {
    margin-top: 18px;
  }

  .sub input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
  }

  input::placeholder {
    font-size: 14px;
    line-height: 16px;
  }

  .sub button {
    font-size: 16px;
    line-height: 16px;
    padding: 8px 12px;
    margin-top: 10px;
    margin-left: 0;
  }

  hr {
    width: 100%;
    margin: 10px 0;
  }


  .privacy .para2 {
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
    margin-left: 0px;
  }

  .para2 br {
    display: none;
  }

  .privacy .terms {
    position: absolute;
    flex-wrap: nowrap;
    padding-left: 0px;
    bottom: -335px;
  }

  .terms p {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 10px;
  }

  .company {
    position: relative;
    right: 370px;
    bottom: 135px;
    width: 130px;
    height: 300px;
  }

  .product {
    position: relative;
    right: 133px;
    bottom: 540px;
    width: 130px;
    height: 300px;
  }

  .company .com,
  .product .pro {
    font-size: 20px;
    line-height: 28px;
  }

  .company p,
  .product p {
    font-size: 14px;
    line-height: 19px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .company {
    margin-right: 0px;
  }


}

@media screen and (max-width:955px) {
  .company {
    right: 300px
  }

  .product {
    right: 36px;
  }

}

@media screen and (max-width:780px) {
  .company {
    right: 215px
  }

  .product {
    right: 0px;
  }

}

@media screen and (max-width:639px) {
  .company {
    right: 186px
  }

  .product {
    right: -70px;
  }

  .privacy .terms {
    padding-left: 0px;
    padding-right: 0px;
  }

}

@media screen and (max-width:598px) {
  .footer {
    height: 600px;
  }

  .logo img {
    width: 65px;
    height: 65px;
  }

  .logo p {
    margin-left: 10px;
    font-size: 40px;
  }

  .privacy .para1 {
    font-size: 18px;

  }

  .company {
    bottom: 186px;
    right: 170px
  }

  .product {
    right: -70px;
    bottom: 590px;
  }

  .privacy .terms {
    padding-left: 0px;
    bottom: -287px;
    padding-right: 0px;
  }

}

@media screen and (max-width:546px) {
  .company {
    bottom: 186px;
    right: 130px;
  }
}

@media screen and (max-width:487px) {
  .company {
    bottom: 186px;
    right: 85px;
  }

  .product {
    right: -90px;
  }
}


@media screen and (max-width:390px) {
  .footer {
    padding: 16px 12px;
    height: 550px;

  }

  .logo img {
    width: 44px;
    height: 51px;
  }

  .logo p {
    margin-left: 10px;
    font-size: 20px;
  }

  .privacy .para1 {
    font-size: 16px;
    line-height: 24px;
    width: 328px;
    height: 31px;
    margin-top: 14px;
  }

  .privacy .sub {
    margin-top: 30px;
  }

  .sub input {
    width: 520px;
    padding: 10px;
    font-size: 12px;
    padding: 0px 10px;
  }

  input::placeholder {
    font-size: 12px;
    line-height: 28px;
    margin-left: 2px;
  }

  .sub button {
    font-size: 12px;
    line-height: 24px;
    margin-top: -7px;
    margin-left: 60px;
  }

  hr {
    width: 100%;
    margin: -4px 0;
  }


  .privacy .para2 {
    font-size: 12px;
    line-height: 16px;
    margin-top: 22px;
    margin-left: 0px;
  }

  .para2 br {
    display: none;
  }

  .privacy .terms {
    position: absolute;
    flex-wrap: nowrap;
    left: 0px;
    top: 355px;
    padding-left: 25px;
    padding-right: 0px;
  }

  .terms p {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
  }

  .company {
    bottom: 175px;
    right: 86px;
    margin-top: 135px;
  }

  .product {
    right: -90px;
    margin-top: 160px;
  }

  .company p,
  .product p {
    font-size: 12px;
    line-height: 19px;
  }


}

@media screen and (max-width:368px) {
  .privacy .para1 {
    font-size: 14px;
    line-height: 24px;
    width: 280px;
  }
}

@media screen and (max-width:338px) {
  .sub button {
    margin-left: 35px;
  }

  .company {
    right: 55px;
  }

  .product {
    right: -95px;
  }

  .company .com,
  .product .pro {
    font-size: 16px;
  }

  .terms p {
    font-size: 12px;
  }

  .sub input {
    width: 280px;
  }

  .privacy .para1 {
    font-size: 12px;
    width: 250px;
  }
}

@media screen and (max-width:311px) {
  .privacy .para1 {
    width: 205px;
  }

  .sub input {
    width: 167px;
  }

  .sub button {
    margin-left: 10px;
  }

  .privacy .para2 {
    font-size: 10px;
  }

  .company .com,
  .product .pro {
    font-size: 14px;
  }

  .company p,
  .product p {
    font-size: 10px;
  }

  .company {
    bottom: 190px;
  }

  .product {
    margin-top: 146px;
  }

  .terms p {
    font-size: 11px;
  }

  .privacy .terms {
    top: 320px;
  }

}
@media screen and (max-width:311px) {
  .sub button {
    margin-left: -20px;
}
.company {
  right: 31px;
}
.privacy{
  padding: 15px 10px;
}
.privacy .terms {
  padding-left: 0;
}
.product{
  width: 100px;
}
}