.container {
  width: 100%;
  max-width: 1440px;
  min-height: 940px;
  position: relative;
  background-image: url('../assets/Home.jpeg');
  background-size: cover;
  color: white;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14.2px 59px;
  box-sizing: border-box;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left img {
  width: 40px;
  height: auto;
}

.name {
  margin-left: 25px;
  font-size: 2rem;
  font-weight: 500;
  font-family: "Yatra One", system-ui;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 21px;
  margin-right: -15px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 48px;
}

.icons img {
  width: 23px;
}

.logbtn {
  display: flex;
  align-items: center;
  background: transparent;
  border: 0.1px solid transparent;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: border-color 0.3s ease, transform 0.3s ease;
  padding: 15px;
  font-weight: 500;
  font-family: verdana;
  margin-right: -12px;
}

.logbtn img {
  width: 23px;
  margin-right: 16px;
}

.nav-right button:hover {
  border: 0.1px solid #aca4a4;
  border-radius: 20px;
}

main {
  position: absolute;
  top: 30%;
  left: 5%;
  transform: translateY(-30%);
}

.paragraph {
  max-width: 700px;
  font-size: 4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 1.1;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;

}

.btn1 {
  background: transparent;
  padding: 10px 20px;
  border: 1px solid #F9BA7F;
  border-radius: 20px;
  color: white;
  font-size: 1rem;
  font-family: 'Verdana', sans-serif;
  transition: color 0.3s ease;
}

.btn2 {
  background: transparent;
  padding: 10px 20px;
  border: 1px solid #7FBEF9;
  border-radius: 20px;
  color: white;
  font-size: 1rem;
  font-family: 'Verdana', sans-serif;
  transition: color 0.3s ease;
}

.btn1:hover {
  color: #F9BA7F
}

.btn2:hover {
  color: #7FBEF9
}

@media screen and (max-width:734px) {
  .container {
    width: 100%;
    max-width: 734px;
    min-height: 877px;
    background-size: cover;
    background-position: center;
    padding:  0px 15px;
  }
  
  header {
    height: 90px;
  }

  .nav-left {
    display: block;
  }

  .nav-right {
    display: block;
    margin-top: -5px;
  }

  .nav-left img {
    position: absolute;
    right: 20px;
  }

  .name {
    margin-left: -56px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
  }

  .icons {
    margin-right: 40px;
    gap: 44px;
  }
  .icons img{
    width: 28px;
  }

  .logbtn {
    display: none;
  }

  main {
    top: 32%;
  }

  .paragraph {
    font-size: 42px;
    line-height: 46px;
    letter-spacing: -0.02em;
  }
  .buttons{
    gap: 10px;
    margin-top: 10px;
    margin-left: -8px;
  }

  .btn1 {
    font-size: 12px;
  }
  .btn2 {
    font-size: 12px;
  }
}


@media screen and (max-width:481px) {
  .container {
    width: 100%;
    max-width: 481px;
    min-height: 777px;
    background-size: cover;
    background-position: center;
    padding:  0px 15px;
  }

  header {
    height: 49px;
  }

  .nav-left {
    display: block;
  }

  .nav-right {
    display: block;
    margin-top: -10px;
  }

  .nav-left img {
    position: absolute;
    right: 20px;
  }

  .name {
    margin-left: -56px;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
  }

  .nav-right .heart {
    display: none;
  }

  .icons {
    margin-right: 16px;
    gap: 20px;
  }
  .icons img{
    width: 25px;
  }

  .logbtn {
    display: none;
  }

  main {
    top: 32%;
  }

  .paragraph {
    font-size: 32px;
    line-height: 43px;
    letter-spacing: -0.02em;
  }
  .buttons{
    gap: 10px;
    margin-top: 10px;
    margin-left: -8px;
  }

  .btn1 {
    font-size: 12px;
  }
  .btn2 {
    font-size: 12px;
  }
}

@media screen and (max-width:390px) {
  .container {
    width: 100%;
    max-width: 390px;
    min-height: 416px;
    background-size: cover;
    background-position: center;
    padding:  0px 15px;
  }

  header {
    height: 49px;
  }

  .nav-left {
    display: block;
  }

  .nav-right {
    display: block;
    margin-top: -10px;
  }

  .nav-left img {
    position: absolute;
    right: 20px;
  }

  .name {
    margin-left: -56px;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
  }

  .nav-right .heart {
    display: none;
  }

  .icons {
    margin-right: 16px;
    gap: 20px;
  }
  .icons img{
    width: 25px;
  }

  .logbtn {
    display: none;
  }

  main {
    top: 43%;
  }

  .paragraph {
    font-size: 24px;
    line-height: 42px;
    letter-spacing: -0.02em;
  }
  .buttons{
    gap: 10px;
    margin-top: 10px;
    margin-left: -8px;
  }

  .btn1 {
    font-size: 12px;
  }
  .btn2 {
    font-size: 12px;
  }
}

