.box {
  width: 100%;
  height: 936px;
  position: relative;
  background: #23272A;
  color: white;
  display: flex;
  gap: 35px;
  padding: 63px 44px 63px 80px;
}

.newarrivals {
  width: 180px;
  height: 800px;
  background-image: url('../assets/newarrivals.png'), rgba(86, 67, 53, 0.77);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #564335;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.newarrivals h2 {
  transform: rotate(-90deg);
  font-size: 2.5rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: white;
  white-space: nowrap;
}

.bestsellers {
  width: 1084px;
  height: 800px;
  background: #083344;
  flex-grow: 1;
  position: relative;

}

.bestsellers h2 {
  position: absolute;
  width: 151px;
  height: 96px;
  top: 39px;
  left: 36px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #F3F3F3;
}

.img1 {
  background: url('../assets/pexels-eneida-nieves-1.png');
  position: absolute;
  width: 300px;
  height: 433px;
  top: 340px;
  left: 322px;
  opacity: 1;
  z-index: 2;
  background-size: cover;
}

.img2 {
  background: url('../assets/lamp-thai-style.png');
  position: absolute;
  width: 295px;
  height: 300px;
  left: 335px;
  opacity: 1;
  background-size: cover
}

.img3 {
  background: url('../assets/pexels-eneida-nieves-2.png');
  position: absolute;
  width: 466px;
  height: 470px;
  top: 259px;
  left: 563px;
  opacity: 1;
  z-index: 2;
  background-size: cover
}

.img4 {
  background: url('../assets/plant1.png');
  background-size: cover;
  position: absolute;
  width: 291px;
  height: 607px;
  top: 188px;
  left: 57px;
  opacity: 1;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.img5 {
  position: absolute;
  width: 673px;
  height: 244px;
  top: 516px;
  left: 353px;
  opacity: 0.9;
  border-radius: 286% 416% 188% 527%;
  object-fit: cover;
  background: url('../assets/newarrivals.png');
  background: #917F6C 41%;
  background-color: rgba(145, 127, 108, 0.41);
  z-index: 1;
}

@media screen and (max-width:1366px) {
  .box {
    gap: 25px;
    padding: 63px 48px;
  }

  .img3 {
    background: url('../assets/pexels-eneida-nieves-2.png');
    position: absolute;
    width: 350px;
    height: 360px;
    top: 321px;
    left: 526px;
    opacity: 1;
    z-index: 2;
    background-size: cover
  }

  .img4 {
    background: url('../assets/plant1.png');
    background-size: cover;
    position: absolute;
    width: 279px;
    height: 583px;
    top: 188px;
    left: 57px;
    opacity: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .img2 {
    background: url('../assets/lamp-thai-style.png');
    position: absolute;
    width: 277px;
    height: 269px;
    left: 335px;
    opacity: 1;
    background-size: cover
  }

  .img5 {
    position: absolute;
    width: 500px;
    height: 243px;
    top: 532px;
    left: 378px;
    opacity: 0.9;
    border-radius: 286% 416% 188% 527%;
    object-fit: cover;
    background: url('../assets/newarrivals.png');
    background: #917F6C 41%;
    background-color: rgba(145, 127, 108, 0.41);
    z-index: 1;
  }
}

@media screen and (max-width:1190px) {
  .box {
    gap: 25px;
    padding: 63px 48px;
  }

  .img3 {
    background: url('../assets/pexels-eneida-nieves-2.png');
    position: absolute;
    width: 334px;
    height: 309px;
    top: 321px;
    left: 473px;
    opacity: 1;
    z-index: 2;
    background-size: cover
  }

  .img4 {
    background: url('../assets/plant1.png');
    background-size: cover;
    position: absolute;
    width: 230px;
    height: 559px;
    top: 188px;
    left: 57px;
    opacity: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .img2 {
    background: url('../assets/lamp-thai-style.png');
    position: absolute;
    width: 241px;
    height: 238px;
    left: 335px;
    opacity: 1;
    background-size: cover
  }

  .img5 {
    position: absolute;
    width: 423px;
    height: 155px;
    top: 532px;
    left: 378px;
    opacity: 0.9;
    border-radius: 286% 416% 188% 527%;
    object-fit: cover;
    background: url('../assets/newarrivals.png');
    background: #917F6C 41%;
    background-color: rgba(145, 127, 108, 0.41);
    z-index: 1;
  }
}

@media screen and (max-width:1114px) {
  .box {
    gap: 25px;
    padding: 63px 48px;
  }

  .img1 {
    background: url('../assets/pexels-eneida-nieves-1.png');
    position: absolute;
    width: 241px;
    height: 368px;
    top: 420px;
    left: 322px;
    opacity: 1;
    z-index: 2;
    background-size: cover;
  }

  .img3 {
    background: url('../assets/pexels-eneida-nieves-2.png');
    position: absolute;
    width: 233px;
    height: 213px;
    top: 438px;
    left: 458px;
    opacity: 1;
    z-index: 2;
    background-size: cover
  }

  .img4 {
    background: url('../assets/plant1.png');
    background-size: cover;
    position: absolute;
    width: 202px;
    height: 486px;
    top: 260px;
    left: 57px;
    opacity: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .img2 {
    background: url('../assets/lamp-thai-style.png');
    position: absolute;
    width: 192px;
    height: 195px;
    left: 335px;
    opacity: 1;
    background-size: cover
  }

  .img5 {
    position: absolute;
    width: 241px;
    height: 120px;
    top: 590px;
    left: 431px;
    opacity: 0.9;
    border-radius: 286% 416% 188% 527%;
    object-fit: cover;
    background: url('../assets/newarrivals.png');
    background: #917F6C 41%;
    background-color: rgba(145, 127, 108, 0.41);
    z-index: 1;
  }

  .newarrivals {
    width: 180px;
    background-image: url('../assets/newarrivals.png'), rgba(86, 67, 53, 0.77);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #564335;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .newarrivals h2 {
    transform: rotate(-90deg);
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: white;
    white-space: nowrap;
  }

  .bestsellers {
    width: 1084px;
    background: #083344;
    flex-grow: 1;
    position: relative;

  }
}

@media screen and (max-width:974px) {
  .box {
    gap: 25px;
  }

  .img1 {
    background: url('../assets/pexels-eneida-nieves-1.png');
    position: absolute;
    width: 253px;
    height: 368px;
    top: 420px;
    left: 263px;
    opacity: 1;
    z-index: 2;
    background-size: cover;
  }

  .img3 {
    display: none;

  }

  .img4 {
    background: url('../assets/plant1.png');
    background-size: cover;
    position: absolute;
    width: 202px;
    height: 486px;
    top: 260px;
    left: 57px;
    opacity: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .img2 {
    background: url('../assets/lamp-thai-style.png');
    position: absolute;
    width: 139px;
    height: 133px;
    left: 335px;
    opacity: 1;
    background-size: cover
  }

  .img5 {
    display: none;

  }

  .newarrivals {
    width: 180px;
    background-image: url('../assets/newarrivals.png'), rgba(86, 67, 53, 0.77);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #564335;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .newarrivals h2 {
    transform: rotate(-90deg);
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: white;
    white-space: nowrap;
  }

  .bestsellers {
    width: 1084px;
    background: #083344;
    flex-grow: 1;
    position: relative;

  }
}

@media screen and (max-width:770px) {
  .box {
    gap: 25px;
  }

  .img1 {
    position: absolute;
    width: 171px;
    height: 260px;
    top: 493px;
    left: 145px;
    background-size: cover;
  }

  .img4 {
    background-size: cover;
    position: absolute;
    width: 175px;
    height: 414px;
    top: 325px;
    left: 7px;
  }

  .img2 {
    position: absolute;
    width: 109px;
    height: 108px;
    left: 180px;
    opacity: 1;
    background-size: cover
  }

  .newarrivals {
    width: 135px;
  }
}

@media screen and (max-width:544px) {
  .box {
    gap: 25px;
  }

  .img1 {
    display: none;
  }

  .img4 {
    background-size: cover;
    position: absolute;
    width: 130px;
    height: 333px;
    top: 401px;
    left: 0px;
  }

  .bestsellers h2 {
    font-size: 32px;
    left: 22px;
  }

  .img2 {
    display: none;
  }
}

@media screen and (max-width:390px) {
  .box {
    height: 1052px;
    display: block;
    padding: 15px;
    padding-bottom: 0;
  }

  .newarrivals {
    width: 351px;
    height: 482px;
    position: relative;
    padding: 25px;
  }

  .newarrivals h2 {
    display: block;
    font-size: 28px;
    line-height: 36px;
    line-height: 40px;
    transform: rotate(0deg);
    position: absolute;
    top: 20px;
    left: 30px;
  }

  .newarrivals .i1 {
    position: absolute;
    background-image: url('../assets/plant2.png');
    background-size: cover;
    background-position: center;
    width: 253px;
    height: 151px;
    left: 95px;
    top: 330px;
  }

  .newarrivals .i2 {
    position: absolute;
    background-image: url('../assets/basket.png');
    background-size: cover;
    background-position: center;
    width: 90px;
    height: 106px;
    left: 20px;
    top: 346px;
    z-index: 2;
  }

  .newarrivals .i3 {
    position: absolute;
    background-image: url('../assets/chair.png');
    background-size: cover;
    background-position: center;
    width: 178px;
    height: 253px;
    left: 97px;
    top: 146px;
    z-index: 2;
  }

  .newarrivals .i4 {
    position: absolute;
    background-image: url('../assets/newarrivals.png');
    background-size: cover;
    background-position: center;
    width: 224px;
    height: 200px;
    left: 42px;
    top: 224px;
    border-radius: 286% 416% 188% 527%;
    background: #917F6C 41%;
    background-color: rgba(145, 127, 108, 0.41);
    z-index: 1;

  }

  .bestsellers {
    width: 351px;
    height: 482px;
    position: relative;
    padding: 25px;
    margin: 30px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .bestsellers h2 {
    position: absolute;
    width: 120px;
    height: 65px;
    left: 20px;
    top: 20px;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
  }

  .img5,
  .img3 {
    display: block;

  }

  .img3 {
    position: absolute;
    width: 211px;
    height: 202px;
    left: 35px;
    top: 172px;
    z-index: 2;
    background-size: cover;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background-position: center;
  }

  .img2 {
    display: block;
    position: absolute;
    width: 108px;
    height: 110px;
    left: 196px;
    top: 0px;
  }

  .img4 {
    position: absolute;
    width: 134px;
    height: 280px;
    left: 223px;
    top: 193px;
  }

  .img5 {
    position: absolute;
    width: 228px;
    height: 128px;
    left: 15px;
    top: 335px;
    z-index: 1;
    border-radius: 286% 532% 705% 527%;
  }

  .img1 {
    display: none;
  }

}

@media screen and (max-width:371px) {
  .box {
    height: 1052px;
    padding: 29px 40px;
  }

  .newarrivals {
    width: 280px;
    height: 482px;
    position: relative;
    padding: 25px;
  }

  .newarrivals .i1 {
    width: 170px;
    height: 141px;
    left: 109px;
    top: 341px;
  }

  .newarrivals .i2 {
    width: 90px;
    height: 106px;
    left: 20px;
    top: 346px;
  }

  .newarrivals .i3 {
    width: 146px;
    height: 222px;
    left: 106px;
    top: 147px;
  }

  .newarrivals .i4 {
    width: 202px;
    height: 161px;
    left: 40px;
    top: 248px;

  }

  .bestsellers {
    width: 280px;
  }

  .img2 {
    width: 78px;
    height: 73px;
    left: 180px;
  }

  .img4 {
    position: absolute;
    width: 87px;
    height: 199px;
    left: 181px;
    top: 270px;
  }

  .img3 {
    width: 167px;
    height: 174px;
  }

  .img5 {
    width: 185px;
    height: 112px;
    left: 13px;
    top: 303px;
  }
}

@media screen and (max-width:335px) {
  .box {
    padding: 29px 28px;
  }
}
@media screen and (max-width:310px) {
  .box {
    padding: 29px 12px;
  }
}
@media screen and (max-width:300px) {
  .box {
    padding: 29px 21px;
  }
  .newarrivals, .bestsellers{
    width: 230px;
  }
  .newarrivals .i1{
    width: 118px;
    height: 130px;
    left: 111px;
    top: 351px;
  }
  .newarrivals .i4{
    left: 10px;
  }
  .newarrivals .i3{
    left: 80px;
    top: 153px;
  }
  .img2{
    width: 68px;
    height: 63px;
    left: 145px;

  }
  .img3{
    width: 118px;
    height: 123px;
    top: 212px;
  }
  .img5{
    width: 147px;
    height: 90px;
  }
  .img4{
    width: 75px;
    height: 194px;
    left: 147px;
    top: 261px;
  }
}