.testimonials {
  width: 100%;
  height: 560px;
  background: #083344;
  position: relative;
}

.group {
  width: 100%;
  height: 429px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.test1 {
  width: 30%;
  height: auto;
  padding: 50px 40px 90px;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  background: #F3F3F3;
  opacity: 0.8;
  margin-top: 90px;
  z-index: 0;
  margin-left: -20px;

}

.test2 {
  width: 28%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  background: #F9BA7F;
  z-index: 1;
  transform: scale(1.1);
  margin-top: 20px;
  padding: 25px 24px 71px;
}


.test3 {
  width: 30%;
  height: auto;
  padding: 50px 40px 90px;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  background: #F3F3F3;
  opacity: 0.8;
  margin-top: 110px;
  z-index: 0;
}

.test1 img,
.test2 img,
.test3 img {
  width: 24px;
  height: 24px;
}


.test1 p,
.test2 p,
.test3 p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2D2E2E;
  margin-top: 20px;
  letter-spacing: -0.02em;
}

.person {
  width: 90px !important;
  height: 90px !important;
  border-radius: 50%;
  position: absolute;
  transform: translateX(-50%);
  object-fit: cover;
  margin-top: 45px;
  margin-left: 5px;
}

.test2 .person {
  margin-top: 28px;

}

.test1 span,
.test2 span,
.test3 span {
  position: absolute;
  margin-top: 145px;
  margin-left: -35px;
  color: #2D2E2E;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (max-width:1014px) {
  .test3 {
    width: 30%;
    height: auto;
    padding: 0px 40px 90px;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: #F3F3F3;
    opacity: 0.8;
    margin-top: 90px;
    z-index: 0;
  }

}

@media screen and (max-width:930px){
  .testimonials {
    width: 100%;
  }

  .test1 {
    margin-top: 105px;

  }

  .test2 {
    padding: 0px 24px 71px;
    margin-top: 45px;
  }


  .test3 {
    padding: 0px 41px 61px;
    margin-top: 86px;
  }

  .test3 .person {
    margin-top: 13px;
  }

  .test1 span,
  .test2 span,
  .test3 span {
    margin-top: 128px;
  }

}

@media screen and (max-width:857px) {
  .test2 span {
    display: none;
  }

  .test3 span {
    display: none;
  }
}

@media screen and (max-width:845px) {
  .test2 {
    padding: 0px 24px 71px;
    margin-top: 113px;
  }
}

@media screen and (max-width:785px) {
  .testimonials {
    width: 100%;
  }

  .test2 {
    display: none;
  }

  .group {
    gap: 20px;
  }

  .test1 {
    width: 40%;
  }

  .test3 {
    width: 40%;
  }

  .test1 span,
  .test2 span,
  .test3 span {
    margin-top: 128px;
  }

  .test3 span {
    margin-top: 105px;
    margin-left: 86px;
    display: block;
  }
}

@media screen and (max-width:589px){
  .test1 span,
  .test3 span {
    display: none;
  }
}

@media screen and (max-width:581px) {
  .testimonials {
    height: 436px !important;
  }

  .group {
    display: flex;
  }

  .test2,
  .test3 {
    display: none;
  }

  .test1 {
    position: absolute;
    padding: 34px 30px 90px;
    width: 405.33px;
    height: 354px;
    bottom: 31px;
    left: 110px;
  }

  .person {
    margin-top: 87px;
    margin-left: 7px;
  }
}

@media screen and (max-width:500px) {
  .testimonials {
    height: 436px;
  }

  .group {
    display: flex;
  }

  .test2,
  .test3 {
    display: none;
  }

  .test1 {
    position: absolute;
    padding: 12px 28px;
    width: 362.33px;
    height: 350px;
    bottom: 42px;
    left: 50px;
  }

  .person {
    margin-top: 95px;
    margin-left: 7px;
  }
}

@media screen and (max-width:412px) {
  .testimonials{
    height: 436px;
  }
  .test1 {
    position: absolute;
    padding: 50px 30px 90px;
    width: 357.33px;
    height: 332px;
    bottom: 46px;
    left: 44px;
  }

  .person {
    margin-top: 40px;
    margin-left: 7px;
  }
}

@media screen and (max-width:390px) {
  .testimonials {
    height: 436px !important;
    padding: 6px 16px;
    position: relative;
  }

  .group {
    display: flex;
    justify-content: center;
  }

  .test2,
  .test3 {
    display: none;
  }

  .test1 {
    position: absolute;
    padding: 50px 30px 90px;
    width: 357.33px;
    height: 332px;
    bottom: 71px; 
    left: 50%; 
    transform: translateX(-45%);
  }
  .person{
    margin-left: 1px;
  }
}

@media screen and (max-width:374px) {
  .testimonials {
    padding: 0px 133px;
  }

  .group {
    display: flex;
  }

  .test2,
  .test3 {
    display: none;
  }

  .test1 {
    position: absolute;
    padding: 4px 30px;
    width: 280.33px;
    height: 256px;
    bottom: 143px;
    left: 50px;
  }
  .test1 .person {
    width: 80px !important;
    height: 80px !important;
    position: absolute;
    transform: translateX(-50%);
    object-fit: cover;
    margin-top: 13px;
    margin-left: 5px;
  }
  .test1 p{
    font-size: 13px;
    margin-top: 5px;
  }
  .test1 img {
    width: 20px;
    height: 20px;
}
}
@media screen and (max-width:330px) {
  .testimonials{
    padding: 10px 112px;
  }
  .group{
    height: 400px;
  }
  .test1{
    padding: 4px 10px;
    width: 250.33px;
    bottom: 110px;
  }
  .test1 .person{
    margin-top: 34px;
  }
}
@media screen and (max-width:285px) {
  .testimonials{
    padding: 10px 89px;
  }
  .test1{
    width: 199.33px;
  }
  .test1 .person{
    margin-top: 5px;
    width: 60px !important;
    height: 60px !important;
  }
}      