.testimonials {
  width: 100%;
  max-width: 1440px;
  min-height: 560px;
  background: #083344;
  position: relative;
}

.group {
  width: 100%;
  height: 429px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.test1 {
  width: 30%;
  height: auto;
  padding: 50px 40px 90px;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  background: #F3F3F3;
  opacity: 0.8;
  margin-top: 90px;
  z-index: 0;
  margin-left: -20px;

}

.test2 {
  width: 28%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  background: #F9BA7F;
  z-index: 1;
  transform: scale(1.1);
  margin-top: 20px;
  padding: 25px 24px 71px;
}


.test3 {
  width: 30%;
  height: auto;
  padding: 50px 40px 90px;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  background: #F3F3F3;
  opacity: 0.8;
  margin-top: 110px;
  z-index: 0;
}

.test1 img,
.test2 img,
.test3 img {
  width: 24px;
  height: 24px;
}


.test1 p,
.test2 p,
.test3 p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2D2E2E;
  margin-top: 20px;
  letter-spacing: -0.02em;
}

.person {
  width: 90px !important;
  height: 90px !important;
  border-radius: 50%;
  position: absolute;
  transform: translateX(-50%);
  object-fit: cover;
  margin-top: 45px;
  margin-left: 5px;
}

.test2 .person {
  margin-top: 28px;

}

.test1 span,
.test2 span,
.test3 span {
  position: absolute;
  margin-top: 145px;
  margin-left: -35px;
  color: #2D2E2E;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (max-width:930px) {
  .testimonials {
    width: 100%;
    max-width: 930px;
    min-height: 560px;
  }

  .test1 {
    margin-top: 121px;

  }

  .test2 {
    margin-top: 80px;
  }


  .test3 {
    padding: 26px 41px 61px;
    margin-top: 148px;
  }
  .test3 .person{
    margin-top: 13px;
  }
  .test1 span,.test2 span,.test3 span{
    margin-top: 128px;
  }
  
}
@media screen and (max-width:857px) {
  .test2 span{
    display: none;
  }
}
@media screen and (max-width:774px) {
  .testimonials {
    width: 100%;
    max-width: 774px;
    min-height: 560px;
  }
  .test2{
    display: none;
  }
  .group {
    /* justify-content: space-around; */
    gap: 20px;
  }
  .test1{
    width: 40%;
  }
  .test3{
    width: 40%;
  }
  .test1 span,.test2 span,.test3 span{
    margin-top: 128px;
  }
  .test3 span{
    margin-top: 100px;
  }
}
@media screen and (max-width:581px) {
  .testimonials {
    max-width: 581px;
    min-height: 436px;
  }
  
  .group {
    display: flex;
  }

  .test2,
  .test3 {
    display: none;
  }

  .test1 {
    position: absolute;
    padding: 50px 30px 90px;
    width: 357.33px;
    height: 332px;
    bottom: 55px;
    left:110px;
  }
}
@media screen and (max-width:390px) {
  .testimonials {
    max-width: 390px;
    min-height: 436px;
    overflow-x: scroll;
    padding: 32px 16px;
  }

  .group {
    display: flex;
  }

  .test2,
  .test3 {
    display: none;
  }

  .test1 {
    position: absolute;
    padding: 50px 30px 90px;
    width: 357.33px;
    height: 332px;
    bottom: 95px;
    left: 21px;
  }
}